# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Earaj Inam
- Andy Ham
- Robert Freeman

## Tasks

1. Navigate to What category page
2. Go back home
3. Search

---

## Individual Results & Observations

### Earaj Inam

- He took a few seconds to find the link
- Suggested to make the separation between navigation and content more obvious
- Had difficulty finding home button at the bottom of page and had to scroll up.
- Immediately identified search field

### Andy Ham

- Navigated to the page no problem
- Scrolled back up top for home button
- Searched keyword effortlessly

### Robert Freeman

- Took about half a second to identify the link
- Identified the logo as the home button
- Searched no problem

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- There were no critical issues.

### Serious, Causes Frustration, May Hinder Completion

- Difficulty finding home on one subject
- Delay in finding navigation

### Minor, Annoying, Won’t Hinder Completion

- Bottom navigation needs home button
- Footer can benefit from search field as well