@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: normal 87.5%/1.4 Georgia, serif;
}

body {
	background: #000;
	margin: 0;
}

.container {
	margin: 0 auto;
	background: #fff;
	max-width: 80em;
}

header {
	background: #000;
	position: relative;
}

nav {
	height: 45px;
}

.logo {
	margin: 0;
	background: #000;
	border-bottom: 1px solid #fff;
}

.logo__img {
	display: inline-block;
	background: url(../img/fractilia-logo.svg) no-repeat center;
	background-size: contain;
	vertical-align: middle;
	display: block;
	height: 75px;
}

.ir {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.searchbar {
	display: inline-block;
	width: 100%;
	padding: 0.5em;
}

.searchbar > input {
	width: 100%;
}

.nav[data-state="expanded"] {
	max-height: 14rem;
}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		bottom: 0;
		width: 45px;
		height: 45px;
		position: absolute;
		right: 0;
		background: #000 url("../img/menu.svg") no-repeat center;
		background-size: contain;
		vertical-align: middle;

	}

	.nav-btn:hover,
	.nav-btn:focus,
	.nav-btn:active {
		background-color: #fff;
		background-image: url("../img/menu-hover.svg");
	}

	.nav-btn[data-state="active"] {
		background-color: #fff;
	}

	.nav-list {
		margin: 0;
		padding: 0;
		display: inline-block;

		list-style-type: none;
		font-size: 1.25rem;

		max-height: 0;
		overflow: hidden;		position: absolute;
		top: 120px;
		right: 0;

		background-color: #000;

		-moz-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		-webkit-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
	}

		.nav-list__item a,
		.nav-list__item a:link,
		.nav-list__item a:visited {
			display: block;
			padding: 0.5em;

			border: 0;

			color: #e2e2e2;
			text-decoration: none;
		}

		.nav-list__item a:hover,
		.nav-list__item a:focus,
		.nav-list__item a:active {
			background-color: #222;

			color: #fff;
		}

.masthead {
	height: 10em;
}

.masthead > blockquote {
	display: none;
}

.home-masthead {
	background: url(../img/mandelbrot.jpg) no-repeat center;
	background-size: 100%;
}

.list-group {
	padding: 0;
	list-style-type: none;
}

.list-group__item {
	display: block;
}

.list-group__item--inline {
	display: inline-block;
}

.container__content {
	padding: 1em;
}

blockquote {
}

/*
@media only screen and (min-width: 50em) {

	.top-nav > ul > li {
		margin: 0;
		display: block;
		text-align: right;
	}

}
*/

footer {
	background: #000;
	color: #fff;
	padding-bottom: 2em;

	text-align: center;
}

.footer__nav {
	list-style-type: none;
	padding: 0;
}

.footer__nav__item {
	margin: 0.5em 0;
}

.footer__nav__item a,
.footer__nav__item a:link,
.footer__nav__item a:visited {
	color: #fff;
	text-decoration: none;
}

.copyright {
	color: #666;
	font-size: 0.75rem;
}


@media only screen and (min-width: 24em) {

	header {
		height: 75px;
	}

	.masthead {
		height: 15em;
	}

	.masthead > blockquote {
		display: inline-block;
		color: rgba(255,0,0,0.7);
	}

	.searchbar {
		display: inline-block;
		margin-top: 25px;
	}

	.searchbar > input {
		width: auto;
	}

	.logo {
		float: left;
		display: inline-block;
		width: 240px;
		border-right: 1px solid #fff;
		border-bottom: none;
	}

	.logo__image {
		background-position: left;
	}

	.footer__nav__item {
		display: inline;
		margin: 0 1em;
	}

}


@media only screen and (min-width: 32em) {

	.masthead > span {
		width: 75%;
	}

}

@media only screen and (min-width: 50em) {

	.masthead {
		height: 20em;
	}

	.masthead > blockquote {
		font-size: 3em;
	}

	footer {
		padding-left: 20%;
	}

}

@media only screen and (min-width: 60em) {

	.masthead {
		height: 25em;
	}

	.container {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}

}

@media only screen and (min-width: 68em) {

	.container {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}
}

@media only screen and (min-width: 80em) {

	.container {
		margin-top: 2em;
		border: 1px solid #fff;
	}

}
