m../@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

@font-face {
	font-family: 'im_fell_french_canon_proRg';
	src: url('../font/fefcrm27c-webfont.eot');
	src: url('../font/fefcrm27c-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/fefcrm27c-webfont.woff') format('woff'),
		 url('../font/fefcrm27c-webfont.ttf') format('truetype'),
		 url('../font/fefcrm27c-webfont.svg#im_fell_french_canon_proRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'im_fell_french_canon_proIt';
	src: url('../font/fefcit27c-webfont.eot');
	src: url('../font/fefcit27c-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/fefcit27c-webfont.woff') format('woff'),
		 url('../font/fefcit27c-webfont.ttf') format('truetype'),
		 url('../font/fefcit27c-webfont.svg#im_fell_french_canon_proIt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'tiresias_infofontregular';
    src: url('../font/Tiresias_Infofont-webfont.eot');
    src: url('../font/Tiresias_Infofont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Tiresias_Infofont-webfont.woff') format('woff'),
         url('../font/Tiresias_Infofont-webfont.ttf') format('truetype'),
         url('../font/Tiresias_Infofont-webfont.svg#tiresias_infofontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'tiresias_infofontitalic';
	src: url('../font/Tiresias_Infofont_Italic-webfont.eot');
	src: url('../font/Tiresias_Infofont_Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/Tiresias_Infofont_Italic-webfont.woff') format('woff'),
		 url('../font/Tiresias_Infofont_Italic-webfont.ttf') format('truetype'),
		 url('../font/Tiresias_Infofont_Italic-webfont.svg#tiresias_infofontitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: normal 87.5%/1.4 "Georgia", serif;
}

body {
	background: #000;
	margin: 0;
}

.container {
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
	max-width: 80em;
}

header {
	background: #000;
	position: relative;
}

.logo {
	margin: 0;
	background: #000;
	border-bottom: 1px solid #fff;
}

.logo__img {
	display: inline-block;
	background: url(../img/fractilia-logo.svg) no-repeat center;
	background-size: contain;
	vertical-align: middle;
	display: block;
	height: 75px;
}

.ir {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

nav {
	height: 45px;
	position: relative;
}

.searchbar {
	padding: 12px 57px 12px 12px;
}

.searchbar > input {
	border: none;
	padding: 0;
	height: 21px;
	width: 100%;
	font-family: inherit;
}

.nav[data-state="expanded"] {
	max-height: 14rem;
}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		position: absolute;
		top: 0;
		right: 0;

		display: inline-block;
		width: 45px;
		height: 45px;

		border-left: 1px solid #fff;
		background: #000 url("../img/menu.svg") no-repeat center;
		background-size: contain;
		vertical-align: middle;
	}

	.nav-btn:hover,
	.nav-btn:focus,
	.nav-btn:active,
	.nav-btn[data-state="active"] {
		background-color: #fff;
		background-image: url("../img/menu-hover.svg");
	}


	.nav-list {
		margin: 0;
		padding: 0;
		display: inline-block;

		list-style-type: none;
		font-size: 1.25rem;

		max-height: 0;
		overflow: hidden;
		position: absolute;
		top: 45px;
		right: 0;
		width: 9em;

		background-color: rgba(255,255,255,0.8);

		-moz-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		-webkit-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
	}

		.nav-list__item a,
		.nav-list__item a:link,
		.nav-list__item a:visited {
			display: block;
			padding: 0.5em;
			border: 0;
			color: #000;
			text-decoration: none;
		}

		.nav-list__item a:hover,
		.nav-list__item a:focus,
		.nav-list__item a:active {
			background-color: rgba(0,0,0,0.8);
			color: #fff;
		}

.masthead {
	height: 10em;
}

	.masthead > blockquote {
		display: none;
	}

.home-masthead {
	background: url(../img/mandelbrot2.jpg) no-repeat center;
	background-size: 100%;
}

.list-group {
	padding: 0;
	list-style-type: none;
}

.list-group__item {
	display: block;
}

.list-group__item--inline {
	display: inline-block;
}

.container__content {
	padding: 1em;
}

h2,
h3,
h4,
h5 {
	font-family: "tiresias_infofontregular" sans-serif;
	font-weight: normal
}

footer {
	background: #000;
	color: #fff;
	padding-bottom: 2em;

	text-align: center;
}

.footer__nav {
	list-style-type: none;
	padding: 0;
}

.footer__nav__item {
	margin: 0.5em 0;
}

.footer__nav__item a,
.footer__nav__item a:link,
.footer__nav__item a:visited {
	color: #fff;
	text-decoration: none;
}

.copyright {
	color: #666;
	font-size: 0.75rem;
}


@media only screen and (min-width: 24em) {

	.masthead {
		height: 15em;
	}

	.masthead > blockquote {
		font-family: "im_fell_french_canon_proIt" sans-serif;
		display: inline-block;
		margin: 1em 1em 1em 1.5rem;
		color: rgba(255,255,255,1);
		font-size: 1.5em;
	}


	.footer__nav__item {
		display: inline;
		margin: 0 1em;
	}

}


@media only screen and (min-width: 35.5em) {

	header {
		height: 75px;
	}

	.logo {
		float: left;
		display: inline-block;
		width: 240px;
		border-right: 1px solid #fff;
		border-bottom: none;
	}

		.logo__image {
			background-position: left;
		}

	.masthead {

	}

		.masthead > blockquote {
			font-size: 2em;
			line-height: 1.2em;
			width: 75%
		}

	nav {
		float: right;
		height: 75px;
	}

		.searchbar {
			display: inline-block;
			padding: 20px;
		}

		.searchbar > input {
			width: 10em;
			height: 35px;
			font-size: 1.5em;
		}

		.nav-btn,
		.nav-btn:link,
		.nav-btn:visited {
			position: static;
			width: 75px;
			height: 75px;
			margin-top: -8px;
		}

		.nav-list {
			top: 75px;
		}

}

@media only screen and (min-width: 50em) {

	.masthead {
		height: 20em;
	}

	.masthead > blockquote {
		font-size: 3em;
		line-height: 1em;
	}

	footer {
		padding-left: 20%;
	}

}

@media only screen and (min-width: 60em) {

	.container {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}

	.masthead {
		height: 25em;
	}

}

@media only screen and (min-width: 68em) {

	.container {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}
}

@media only screen and (min-width: 80em) {

	.container {
		margin-top: 2em;
		border: 1px solid #fff;
	}

}
