@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: normal 14px/1.4 Georgia, serif;
}

body {
	background: #3e3e3e;
	margin: 0;
}

header {
	background: #000;
}

nav {

}


footer {
	background: #000;
	color: #fff;
	padding-bottom: 2em;
}

/* Mastheads */

.masthead {
	height: 10em;
}

.masthead > span {
	display: none;
}


.home-masthead {
	background: url(../img/mandelbrot.jpg) no-repeat center;
	background-size: 100%;
}

/* Classes */

.searchbar {
	display: block;
	padding: 0.5em;
}

.searchbar > input {
	width: 100%;
}

.container {
	margin: 0 auto;
	background: #fff;
	max-width: 80em;
}


@media only screen and (min-width: 24em) {

	header {
		height: 75px;
	}

	.masthead {
		height: 15em;
	}

	.masthead > span {
		display: inline-block;
		margin-top: 1em;
		font: normal 200%/1 sans-serif;
		color: rgba(255,0,0,0.7);
	}

	.searchbar {
		float: right;
		display: inline-block;
		margin-top: 25px;
	}

	.searchbar > input {
		width: auto;
	}

}


@media only screen and (min-width: 32em) {

	.masthead > span {
		width: 75%;
	}

}

@media only screen and (min-width: 50em) {

	.masthead {
		height: 20em;
	}

	.masthead > span {
		font-size: 3em;
	}

	footer {
		padding-left: 20%;
	}

}

@media only screen and (min-width: 60em) {

	.masthead {
		height: 25em;
	}

}
