.home-masthead {
	background-image: url(../img/home.jpg);
	background-size: 120%;
}

.what-masthead {
	background-image: url(../img/what-is-fractal.jpg);
	background-size: 100%;
}

.benoit-mandelbrot-masthead {
	background-image: url(../img/benoit-mandelbrot.jpg);
	background-size: 100%;
}
