h1 {
	margin: 0;
	background: #000;
	border-bottom: 1px solid #fff;
}

h1 > a {
	background-image: url(../img/fractilia-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 75px;
	text-indent: -9999px;
	display: block;
}

div > ul {
	padding: 0;
}

div > ul > li {
	list-style: none;
}

li > a {
	text-decoration: none;
}

@media only screen and (min-width: 24em) {

	h1 {
		float: left;
		display: inline-block;
		width: 240px;
		border-right: 1px solid #fff;
		border-bottom: none;
	}

	h1 > a {
		background-position: left;
	}


	div > ul > li {
		display: inline;
		margin-right: 2em;
	}

}

@media only screen and (min-width: 50em) {

	.top-nav > ul > li {
		margin: 0;
		display: block;
		text-align: right;
	}

}
