<!DOCTYPE html>
<html lang=en-ca>
<head>
	<meta charset=utf-8>
	<title>{{page.title}} — Fractilia</title>
	<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

	<div class="container">

		<header>
			<h1>
				<a href="{{site.baseurl}}/index.html">Fractilia</a>
			</h1>
			<div class="searchbar">
				<input type="search" placeholder="Search">
			</div>
		</header>

		{{content}}

		<footer>
			<div class="ft-nav unit-spacer">
				<ul>
					<li><a href="{{site.baseurl}}/what/index.html">What is Fractal?</a></li>
					<li><a href="{{site.baseurl}}/type/index.html">Types of Fractal</a></li>
					<li><a href="{{site.baseurl}}/application/index.html">Application</a></li>
				</ul>
				© Fractilia 2013
			</div>
		</footer>

	</div>

</body>
</html>
