<!DOCTYPE html>
<html lang=en-ca>
<head>
	<meta charset=utf-8>
	<title>Fractilia — {{page.title}}</title>
	<meta name="description" content="{{page.description}}">
	<link href="{{site.baseurl}}/css/structure.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{{page.social}}
</head>
<body>

	<div class="container">

		<header>
			<h1>
				<a href="{{site.baseurl}}/index.html">Fractilia</a>
			</h1>
			<div class="searchbar">
				<input type="search" placeholder="Search">
			</div>
		</header>

		<div class="{{page.bgclass}} masthead">
			<span>{{page.top}}</span>
		</div>

		<nav class="unit unit-s-1 unit-m-1 unit-l-1-5">
			<div class="top-nav unit-spacer">
				<ul>
					<li><a href="{{site.baseurl}}/what/index.html">What is Fractal?</a></li>
					<li><a href="{{site.baseurl}}/types/index.html">Types of Fractal</a></li>
					<li><a href="{{site.baseurl}}/applications/index.html">Application</a></li>
				</ul>
			</div>
		</nav>

		<article class="unit unit-s-1 unit-m-3-4 unit-l-3-5">
			<div class="unit-spacer">

			{{content}}

			</div>
		</article>

		<footer>
			<div class="ft-nav unit-spacer">
				<ul>
					<li><a href="{{site.baseurl}}/what/index.html">What is Fractal?</a></li>
					<li><a href="{{site.baseurl}}/types/index.html">Types of Fractal</a></li>
					<li><a href="{{site.baseurl}}/applications/index.html">Application</a></li>
				</ul>
				© Fractilia 2013
			</div>
		</footer>

	</div>

</body>
</html>
